@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    padding: 0px;
    margin: 0px;
    background: url(https://cdn.pixabay.com/photo/2015/07/02/10/21/training-828715_1280.jpg);
    background-repeat: no-repeat;
    background-size: 100vw ;
    background-color: black;
}
.left{
    position: fixed;
    top: 5px;
    display: inline-block;
    color: white;
    font-family: "Roboto", sans-serif;
    left: 60px;
}
.left img{
    width: 80px;
}
.left div{
    text-align: center;
    font-size: 10px;
}
.mid{
    position: fixed;
    display: block;
    left: 250px;
    width: 40%;
    margin: 20px auto;
    color: white;
    font-family: "Roboto", sans-serif;
}
.right{
    position: fixed;
    right: 34px;
    top: 5px;
    color: white;
}
.btn{
    margin: 15px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}
.btn:hover{
    background-color: rgb(55, 54, 54);
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline;
    color: white;
}
.navbar li a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.navbar li a:hover{
    color: black;
    background-color: white;
    border-radius: 4px;
    font-size: 15px;
}
.container{
    position: absolute;
    top: 150px;
    right: 300px;
    color: white;
    width: 15%;
    padding: 5px 50px;
    border-radius: 10px;
    border: 2px solid white;
}
.container h1{
    font-weight: bold;
    font-style: italic;
}
.container div{
    color: white;
    font-family: "Roboto", sans-serif;
}
.form-group input{
    font-family: "Roboto", sans-serif;
    display: block;
    width: 200px;
    padding: 1px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
    background-color: rgb(49, 48, 48);
}
